In [1]:
fruits = ['orange','apple','banana','kiwi','pear']
print(fruits)

['orange', 'apple', 'banana', 'kiwi', 'pear']

In [2]:
for fruit in fruits:
    print(fruit)

orange
apple
banana
kiwi
pear

In [3]:
for fruit in fruits:
    print(fruit, end='ðŸ¥—ðŸ¥—')

orangeðŸ¥—ðŸ¥—appleðŸ¥—ðŸ¥—bananaðŸ¥—ðŸ¥—kiwiðŸ¥—ðŸ¥—pearðŸ¥—ðŸ¥—

In [6]:
name = "Tanulyadav"
for x in name:
    print(x,end="")

Tanulyadav

In [7]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [10]:
for name in range(5):
    print("tanul")

tanul
tanul
tanul
tanul
tanul

In [12]:
a =10
b =5
sum = a+b   
print("sum:",sum)
print("sum of",a,"and",b,"is",sum)
print(f"sum of {a} and {b} is {sum}")

sum: 15
sum of 10 and 5 is 15
sum of 10 and 5 is 15

In [15]:
for i in range(1,11):
    print(f"15*{i}={15*i}")

15*1=15
15*2=30
15*3=45
15*4=60
15*5=75
15*6=90
15*7=105
15*8=120
15*9=135
15*10=150

In [2]:
for num in range(11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range(1,11):
    print(f"17*{i}={17*i}")

17*1=17
17*2=34
17*3=51
17*4=68
17*5=85
17*6=102
17*7=119
17*8=136
17*9=153
17*10=170

In [10]:
for i in range(0,101,2):
    print(f"sum={i}+{i+2}")

sum=0+2
sum=2+4
sum=4+6
sum=6+8
sum=8+10
sum=10+12
sum=12+14
sum=14+16
sum=16+18
sum=18+20
sum=20+22
sum=22+24
sum=24+26
sum=26+28
sum=28+30
sum=30+32
sum=32+34
sum=34+36
sum=36+38
sum=38+40
sum=40+42
sum=42+44
sum=44+46
sum=46+48
sum=48+50
sum=50+52
sum=52+54
sum=54+56
sum=56+58
sum=58+60
sum=60+62
sum=62+64
sum=64+66
sum=66+68
sum=68+70
sum=70+72
sum=72+74
sum=74+76
sum=76+78
sum=78+80
sum=80+82
sum=82+84
sum=84+86
sum=86+88
sum=88+90
sum=90+92
sum=92+94
sum=94+96
sum=96+98
sum=98+100
sum=100+102

In [11]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [13]:
for i in range(2,21):
    if i % 2 == 0:
        
        print(i)

2
4
6
8
10
12
14
16
18
20

In [14]:
sum = 0
for i in range(1,21):
    if i%2 == 0:
        print(i)   
        sum = sum+i
print("sum of even numbers from 1 to 20 is ", sum)

2
4
6
8
10
12
14
16
18
20
sum of even numbers from 1 to 20 is  110

In [16]:
#sum of integers from 1 to 100 
sum = 0
for i in range(1,101):
    sum = sum+i
print('sum of even numbers from 1 to 100', sum)

sum of even numbers from 1 to 100 5050

In [19]:
sum = 0
num = 1
while num <= 100:
    sum = sum + num
    num = num + 1
print("sum of integers from 1 to 100 is",sum)

sum of integers from 1 to 100 is 5050

BREAK AND CONTINUE

In [4]:
fruits = ['orange','apple','pear','banana','tomato','kiwi','apple']
for fruit in fruits:
    if fruit == "tomato":
        continue
    print(fruit)

orange
apple
pear
banana
kiwi
apple

In [8]:
name = ['T','A','N','U','L']
for t in name:
    if t == "U":
        break
    print(t)

T
A
N

In [9]:
for i,v in enumerate(fruits):
    print(f'{i}.{v}')

0.orange
1.apple
2.pear
3.banana
4.tomato
5.kiwi
6.apple

In [14]:
items = ['pen','pencil','eraser','sharpner','scale','book','bag','bottle','lunchbox','tiffin']
for i ,v in enumerate(items):
    if i == 8:
        break
    print(f'{i}.{v}')

0.pen
1.pencil
2.eraser
3.sharpner
4.scale
5.book
6.bag
7.bottle