## dictionary

- how to declare dictionary in diffrent ways
-  how to access key and values of dictionary
-  how to use loops in dictionary
- nested dictionary

In [2]:
student = {
    "name": "john",
    "class" : "12th",
    "roll no" : 2,
    "age": 17
}
print(student)

{'name': 'john', 'class': '12th', 'roll no': 2, 'age': 17}

In [3]:
temp = {
    'lucknow':[25,30,35],
    'delhi':[30,35,40],
    'chennai':[24,23,22]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'chennai': [24, 23, 22]}

In [4]:
info = dict(name = 'john',age = '17', roll_no= 2, class_ = '12th')
print(info)

{'name': 'john', 'age': '17', 'roll_no': 2, 'class_': '12th'}

In [10]:
info2 = dict(name=input("enter your name:"),
        age = int(input("enter your age:")),
        rool_no = int(input("enter your roll_no:")),
        class_=input("enter your class:"))
print(info2)

{'name': 'tanul', 'age': 19, 'rool_no': 23, 'class_': '10th'}

In [11]:
print(student['name'])
print(temp['lucknow'])

john
[25, 30, 35]

In [12]:
#2nd method to access the value of the key
print(student.get('age'))
print(info2.get('roll_no'))

17
None

In [13]:
#to add items in a dictionary
student['city']='lucknow'
student['school']="DPS"
print(student)

{'name': 'john', 'class': '12th', 'roll no': 2, 'age': 17, 'city': 'lucknow', 'school': 'DPS'}

In [15]:
#to remoove items from dictionary
student.pop('school')
print(student)

{'name': 'john', 'class': '12th', 'roll no': 2, 'age': 17, 'city': 'lucknow'}

In [18]:
#using del method
del student['roll no']
print(student)

{'name': 'john', 'class': '12th', 'age': 17, 'city': 'lucknow'}

In [19]:
for k in info:
    print(k)

name
age
roll_no
class_

In [20]:
for k ,v in info2.items():
    print(f"{k}:{v}")

name:tanul
age:19
rool_no:23
class_:10th

In [21]:
print(student.values())
print(student.keys())
print(student.items())

dict_values(['john', '12th', 17, 'lucknow'])
dict_keys(['name', 'class', 'age', 'city'])
dict_items([('name', 'john'), ('class', '12th'), ('age', 17), ('city', 'lucknow')])

In [24]:
company={
    'emp001' : {'name':'john','age':25,'dept':'HR','salary':30000},
    'emp002':{'name':'emma','age':30,'dept':'finance','salary':30000},
    'emp03':{'name':'linda','age':35,'dept':'IT','salary':35000},
    'emp04':{'name':'tanul','age':18,'dept':'admin','salary':70000}
}
print(company)

{'emp001': {'name': 'john', 'age': 25, 'dept': 'HR', 'salary': 30000}, 'emp002': {'name': 'emma', 'age': 30, 'dept': 'finance', 'salary': 30000}, 'emp03': {'name': 'linda', 'age': 35, 'dept': 'IT', 'salary': 35000}, 'emp04': {'name': 'tanul', 'age': 18, 'dept': 'admin', 'salary': 70000}}

In [25]:
from pprint import pp

In [26]:
pp(company)

{'emp001': {'name': 'john', 'age': 25, 'dept': 'HR', 'salary': 30000},
 'emp002': {'name': 'emma', 'age': 30, 'dept': 'finance', 'salary': 30000},
 'emp03': {'name': 'linda', 'age': 35, 'dept': 'IT', 'salary': 35000},
 'emp04': {'name': 'tanul', 'age': 18, 'dept': 'admin', 'salary': 70000}}

In [27]:
print(company['emp002'])

{'name': 'emma', 'age': 30, 'dept': 'finance', 'salary': 30000}

In [28]:
print(company['emp002']['dept'])

finance

In [33]:
print(company['emp04']['age'])

18

In [38]:
company['emp04']={'name':'tanul','age':18,'dept':'admin','salary':70000},
company['emp05']={'name':'akash','age':19,'dept':'admin','salary':80000},
print(company)

{'emp001': {'name': 'john', 'age': 25, 'dept': 'HR', 'salary': 30000}, 'emp002': {'name': 'emma', 'age': 30, 'dept': 'finance', 'salary': 30000}, 'emp03': {'name': 'linda', 'age': 35, 'dept': 'IT', 'salary': 35000}, 'emp04': ({'name': 'tanul', 'age': 18, 'dept': 'admin', 'salary': 70000},), 'emp05': ({'name': 'akash', 'age': 19, 'dept': 'admin', 'salary': 80000},)}

In [39]:
pp(company)

{'emp001': {'name': 'john', 'age': 25, 'dept': 'HR', 'salary': 30000},
 'emp002': {'name': 'emma', 'age': 30, 'dept': 'finance', 'salary': 30000},
 'emp03': {'name': 'linda', 'age': 35, 'dept': 'IT', 'salary': 35000},
 'emp04': ({'name': 'tanul', 'age': 18, 'dept': 'admin', 'salary': 70000},),
 'emp05': ({'name': 'akash', 'age': 19, 'dept': 'admin', 'salary': 80000},)}

In [40]:
#indexing in dictionary
print(temp['lucknow'][0])
print(temp['delhi'][2])

25
40

In [42]:
#average of temp in delhi
temp={'delhi':[30,35,40],}
print('average temp in delhi is',sum(temp['delhi'])/len(temp['delhi']))

average temp in delhi is 35.0